.sc-pie-chart-container {
	white-space: nowrap;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	.sc-pie-chart {
		position: relative;

		.sc-pie-chart-refresh-icon {
			position: absolute;
			top: 0;
			cursor: pointer;

			&:before {
				content: 'refreshing...'
			}
		}

		display: inline-block;

		path {
			stroke-width: 2.0;
			stroke: #fff;
		}
	}

	.sc-pie-chart-key {
		display: inline-block;
		vertical-align: top;
		padding-left: 0.625em;

		div {
			position: relative;
		}

		.sc-pie-chart-keyHeader {
            font-weight: 600;
	        line-height: 1em;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-bottom: 0.32em;
		}

		ul {
			margin-left: 0.5em;
		}

		ul li {
			clear: both;

			div:nth-child(1) {
				height: 0;
				width: 0;
				float: left;
				margin-bottom: 0.5em;
			}

			div:nth-child(2) {
				padding-left: 0.5em;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				position: relative;
				top: 0.03em;
				font-size: 1em;
			}
		}
	}
}
